* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.results-img {
  height: auto;
  width: 100%;
}

.errorMessage {
  display: hidden;
  color: red;
  font-weight: bold;
  font-size: 24px;
}

.errorMessage,
.results-img {
  margin-top: 5vh;
}

form label {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

[type=submit] {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}